{%extends "viajes_blog/base.html"%}
{% block contenido%} 
    <h1> <p style="color:violet;"> Información sobre mí </p></h1>
    <h2> <p style="color:grey;"> Mi nombre es Rocío Prosapio, tengo 29 años y soy contadora pública </p></h2>
    <h5> <p style="color:black;"> Hola visitantes de este blog! ¿Cómo están? Gracias por leernos! </p></h5>
      
    <h8> <p> Les cuento un poquito de mí; me llamo Rocío y soy contadora pública recibida en la Universidad Nacional de la Matanza en el año 2017. </p></h8>
    <h8> <p> Trabajé en el ámbito privado hasta el 2019 para luego ingresar a la Administración Pública. </p></h8>
    <h8> <p> Allí empecé a trabajar con análisis de datos y armado de tableros para poder procesar grandes volúmenes de información. La temática me pareció super interesante y empecé a indagar en la materia para seguir estudiando y profesionalizándome. </p></h8>
    <h8> <p> Entre distintas opciones que encontré, me interesé en la Diplomatura en Ciencias de Datos que dictan diversas Universidades en Buenos Aires; el programa de la misma mencionaba, entre otras cosas, en conocimiento en Python como recomendable, no excluyente. Dado que yo nunca había estudiado ni trabajado con el tema busqué y me encontré con este curso en CoderHouse. Considero que lo aprendido en el mismo es una buena base de cara a la Diplomatura. </p></h8>

    




{% endblock %}